/local.properties
/.gradle/8.0/executionHistory/executionHistory.bin 
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/fileHashes/resourceHashesCache.lock
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/8.0/fileHashes/resourceHashesCache.lock
/.gradle/8.0/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/8.0/buildOutputCleanup/buildOutputCleanup.bin
/.gradle/8.0/buildOutputCleanup/outputFiles.bin
/.gradle/file-system.probe