<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        tools:targetApi="31" >
        <activity
            android:name=".AccountModerationEditActivity"
            android:exported="false" />
        <activity
            android:name=".AccountModerationListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminTypeListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLandingActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileInfo"
            android:exported="false" />
        <activity
            android:name=".CreateEventForm"
            android:exported="false" />
        <activity
            android:name=".AdminEventListActivity"
            android:exported="false" />
        <activity
            android:name=".ParticipantEventListActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ToolMenuActivity"
            android:exported="false" />
        <activity
            android:name=".LandingPageActivity"
            android:exported="false" />
        <activity
            android:name=".EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".ViewEventActivity"
            android:exported="false" />
        <activity
            android:name=".ClubEventListActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"/>

        <activity
            android:name=".CreateTypeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateTypeActivity"
            android:exported="false" />
    </application>

</manifest>